
body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    text-align: center;
  }

  .form-control {
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
  }
  .userinput {
    margin-top: 1%;
    width: 25rem;
    height: 2rem;
  }

  header{
    margin-bottom: 2rem;
  }

  input{
    text-align: center;
  }

.display {
  display: none;
}

label {
  font-size: 2rem;
}

#instructions {
  font-family: monospace;
  letter-spacing: .15em;
  margin: 0 auto;
  overflow: auto;
  white-space: no-wrap;
 /* border-right: .15em solid orange; */

 animation:
    typing 3.5s steps(40, end),
    blinking-cursor .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* @keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
} */


img {
  height: 10rem;
  width: 10rem;
}
/* header { */

    /* background-color: #f9f7f1;
    -webkit-animation-name: example;
    /* -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown, .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar:hover, .dropdown:hover, .dropbtn {
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display:flex;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover, .dropdown-content {
  display: block;
}

.title-size{
  font-size: 5rem;
}
